body{
    padding: 0;
    margin: 0;
    background-color: #2f2f2f; 
    overflow-x: hidden;
    font-family: 'Bebas Neue', cursive;
    
}


/* Navegador secundario */

.navSecundario{
    background-image: url(/img/fondo1.jpg);
   
    
}
.h2Section1{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 50px;
    font-size: 90px; 
    color: white;
    filter: brightness(100%);
    text-shadow: 0 0 4px rgba(0, 0, 0, .7);
}

.pSection1{
    display: flex;
    margin-left: 50px;
    justify-content: center;
    font-size: 50px;
    color: yellowgreen;
    
}
/* 
.btnPrecios{
    margin-left: 50%;
    margin-bottom: 30px;
} */

.divPrimeroDatosUser{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
    margin: 20px 0;
}

.datosUser{
    color: white;
    width: 600px;
   
    
}
.sectionContainerProductos{
    display: grid;
    justify-content: center;
    background-image: url(/img/fondo5.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    

    background-attachment: fixed;
    background-size: cover;
    padding-top: 200px;
   
}

.divContainerProductos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    max-width: 1200px;
    min-width: 400px;
    padding: 0 10px;
    

}

.btnAgregarCarrito{
    background-color: #a0aeb2;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    width: 50%;
    margin-left: 80px;
}

.btnAgregarCarrito:hover{
    background-color: white;
}




.btnProductoOfertas{
    margin-bottom:50px;
    font-size: 40px;
    background-color: rgb(48, 93, 50);
}

.btnProductoOfertas:hover{
    color: rgb(197, 251, 1);
}
.productosCarrito{
    display: grid;
   
    text-align: center;
    margin-bottom: 80px;
}

.productosCarrito{
    background-color: rgb(32, 77, 89);
    border-radius: 20px;
    color: white;
}

.productosCarrito h2{
    font-size: 50px;
}

.productosCarrito h4{
    background-color: azure;
    font-size: 40px;
    color: black;
}

.productosCarrito b{
    font-size: 30px;
}

.productosCarrito h6{
    font-size: 10px;
    color: black;
}

/*formulario carrito de compras*/

.sectionForms{
    
    background-image: url(/img/fondo4.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    

    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center; /*eje x*/
    align-items: center;


    
}
.divFormCarrito{
    background-color:whitesmoke;
    
    width: 600px;
    height: 700px;
    border-radius: 40px;
    margin-top: 200px;
    
    justify-content: center;
    align-items: center;
    justify-items: center;
   text-align: center;
   box-shadow:0px 1px 100px 20px rgb(0, 0, 0, 1.80) ;
  
   
   
}

    .lFormCarrito{
        margin: 10px 10px;
    }

    .inputNombreFormCarrito{
        background-color: #2F755D;
        height: 80px;
        width: 500px;
        margin-left: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .inputPrecioFormCarrito{
        background-color: #2F755D;
        height: 80px;
        width: 500px;
        margin-left: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .inputCantidadFormCarrito{
        background-color: #2F755D;
        height: 80px;
        width: 500px;
        margin-left: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .inputSubtotalFormCarrito{
        background-color: #2F755D;
        height: 80px;
        width: 500px;
        margin-left: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .inputTotalFormCarrito{
        background-color: #2F755D;
        height: 80px;
        width: 500px;
        margin-left: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }






/*formulario*/

.form{
    display: flex;
    flex-direction: column;
   width: 700px;
    margin-top: 400px;
    margin-bottom: 200px;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    background-color: rgb(255, 255, 255, 0.6);
    border-radius: 15px;
    text-align: start;
   
}
.pForm{
    
    color: black;
   
    
}

.nombreFormContacto{
    color:black;
    width: 500px;
    margin-bottom: 10px;
}

.apellidoFormContacto{
    color: black;
    width: 500px;
    margin-bottom: 10px;

}
.inputTextForm{
    color: black;
    height: 400px;
    width: 600px;
    margin-bottom: 10px;

    text-align:start;
    background-size: contain;
}

.inputEmail{
    color: black;
    width: 500px;
    margin-bottom: 15px;
    margin-bottom: 10px;
}

.btnEnviarForm{
    margin-top: 15px;
    margin-bottom: 15px;
}
.imgFooter{
    height: 60px;
    width: 150px;
}


/* form p {
    color: white;
}

form input{
    color: white;
} */




/*footer*/
/* .footer{
   
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

.footer a{
   
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

.pFooter{
    font-size: 20px;
    color: white;
} */
