body{
    padding: 0;
    margin: 0;
    background-color: rgb(84, 136, 136); 
    overflow-x: hidden;
    font-family: 'Bebas Neue', cursive;
    
}


/* Navegador secundario */

.navSecundario{
    background-image: url(/img/fondo1.jpg);
   
    
}
.h2Section1{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 50px;
    font-size: 90px; 
    color: white;
    filter: brightness(100%);
    text-shadow: 0 0 4px rgba(0, 0, 0, .7);
}

.pSection1{
    display: flex;
    margin-left: 50px;
    justify-content: center;
    font-size: 50px;
    color: yellowgreen;
    
}
.divPrimeroDatosUser{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
    margin: 20px 0;
}

.datosUser{
    color: white;
    width: 600px;
   
    
}
.sectionContainerProductos{
    display: grid;
    justify-content: center;
   
}

.divContainerProductos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    max-width: 1200px;
    min-width: 400px;
    padding: 0 10px;
    

}
.btnProductoOfertas{
    margin-bottom:50px;
    font-size: 40px;
    background-color: rgb(48, 93, 50);
}
.productosCarrito{
    display: grid;
   
    text-align: center;
    margin-bottom: 80px;
}

.productosCarrito{
    background-color: rgb(32, 77, 89);
    border-radius: 20px;
    color: white;
}

.productosCarrito h2{
    font-size: 50px;
}

.productosCarrito h4{
    background-color: azure;
    font-size: 40px;
    color: black;
}

.productosCarrito b{
    font-size: 30px;
}

.productosCarrito h6{
    font-size: 10px;
    color: black;
}
/*formulario*/

.form{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-bottom: 30px;
    font-size: 20px;

}
.pForm{
    color: white;
}
#maxDigitos{
    color:white;
}

#inputEmail{
    color: white;
}


/* form p {
    color: white;
}

form input{
    color: white;
} */




/*footer*/
/* .footer{
   
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

.footer a{
   
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

.pFooter{
    font-size: 20px;
    color: white;
} */
