body{
    padding: 0;
    margin: 0;
    background-color: darkslategray;  
}
.section1{ 


    background-color: aqua;
    width: 100%;
 
}

/* Navegador secundario */

.navSecundario{
    background-image: url(/img/fondo1.jpg);
    background-repeat: repeat;
    margin: 15px 50px;
}
.h2Section1{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 100px;
    font-size: 60px; 
    color: white;
    filter: brightness(100%);
    text-shadow: 0 0 4px rgba(0, 0, 0, .7);
}

.pSection1{
    display: flex;
    margin-left: 50px;
    justify-content: center;
    font-size: 40px;
    
}

#divMsjUser{
    background-color: red;
}


.sectionContainerProductos{
    display: grid;
    justify-content: center;
   
}

.divContainerProductos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    max-width: 1200px;
    min-width: 400px;
    padding: 0 10px;
    

}
.btnProductoOfertas{
    margin-bottom:100px;
}
.productosCarrito{
    display: grid;
    
    text-align: center;
    margin-bottom: 80px;
}
/*formulario*/

.form{
    display: flex;
    flex-direction: column;
    width: 50%;

}
.pForm{
    color: white;
}
#maxDigitos{
    color:white;
}

#inputEmail{
    color: white;
}


/* form p {
    color: white;
}

form input{
    color: white;
} */
.productosCarrito{
    background-color: rgb(20, 113, 141);
}


/*footer*/
.footer{
   
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

.footer a{
   
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

.pFooter{
    font-size: 20px;
    color: white;
}